.card {
    width: 95%;
    height: 100px;
    margin: 10px;
}

.card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
}

.card-info p{
    color: white;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.song-name{
    font-size: 20px;
    font-weight: bold;
}

.card-active {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);

    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}
   
.card-active::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.95);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .25s;
    opacity: 00;
}
   
.title {
    font-weight: bold;
    letter-spacing: .1em;
    color: white;
}
   
.card-active:hover::after {
    opacity: 100;
}

/*   I N A C T I V E   */

.card-inactive{
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    position: relative;
    z-index: 1;
    background: #181818;

    cursor: pointer;
}

.card-inactive:hover {
    background: linear-gradient(to right, #2bf79b 0%, #536cea 100%);
}

.card-inactive .title {
    font-weight: bold;
    letter-spacing: .1em;
}
   
.card-inactive:hover .card-info {
    color: #f7ba2b;
    transition: color 1s;
}

.card-inactive::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.95);
    filter: blur(25px);
    background: #f7ba2b;
    background: linear-gradient(to right, #2bf79b 0%, #536cea 100%);
    transition: opacity .25s;
    opacity: 00;
}
  
.card-inactive:hover::after {
    opacity: 100;
}

.card-inactive:hover div .play-img{
    opacity: 100;
}

.play-img{
    opacity: 0;
    width: 40%;
    object-fit: contain;
    filter: invert(100%);
}