.controls {
    width: 100%;
    height: 130px;
    z-index: 5;
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.controls-container {
    width: 95%;
    height: 95%;
    background-color: rgba(0,0,0,.65);
    border-radius: 15px;
    z-index: 10;
}

.controls-container:hover {
    background-color: rgba(0,0,0,.8);
}

.time-container {
    margin-top: -10px;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time-container label{
    color: white;
    font-size: 12px;
}

.song-info {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.song-info p{
    margin: 0px;
    padding: 0px;
    color: white;
}

.controles {
    width: 100%;
    height: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.controles button{
    cursor: pointer;
    margin: 0 5px 0 5px;
    background-color: rgba(0,0,0,0);
    border: none;
}

.controles button:hover img{
    filter: invert(70%);
}

.controles button img{
    width: 25px;    
    filter: invert(100%);
}

.controles .inactive{
    cursor: not-allowed;
    filter: invert(50%);
}

.controles button:hover .inactive{
    filter: invert(50%);
}

/*   S L I D E R   */
.slider {
    -webkit-appearance: none;
    width: 92%;
    height: 10px;
    border-radius: 5px;
    background-color: #4158D0;
    background-image: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #eac753;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0093E9;
    background-image: linear-gradient(to right, #2bf79b 0%, #536cea 100%);
    cursor: pointer;
  }
  